<% if notice %>
<div class="small-9 small-centered columns">
  <div data-alert class="alert-box info">
    <%= notice %>
    <a href="#" class="close">&times;</a>
  </div>
</div>
<% end %>
<% if alert %>
<div class="small-9 small-centered columns">
  <div data-alert class="alert-box alert">
    <%= alert %>
    <a href="#" class="close">&times;</a>
  </div>
</div>
<% end %>
